.main {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  height: 90vh;
  padding: 50px;
  position: relative;
  overflow: hidden;
}

/* Círculo decorativo en esquina inferior izquierda */
.main::before {
  content: '';
  position: absolute;
  bottom: -200px;
  left: -200px;
  width: 620px;
  height: 500px;
  background: #fff;
  border-radius: 90%;
  pointer-events: none;
  z-index: 1;
}

.main-description {
  width: 50%;
}

.main-title {
  font-size: 3.0rem !important;
  color: #FFF !important;
  font-weight: 600 !important;
  font-family: 'Story Script', cursive !important;
}

.main-subtitle {
  color: #FFF !important;
  font-weight: 400 !important;
  font-family: 'Story Script', cursive !important;
}

.main-paragraph {
  font-size: 1.4rem !important;
  color: #FFF !important;
  font-weight: 100 !important;
  text-align: left !important;
  font-family: 'Story Script', cursive !important;
}

.main-title {
  font-size: 3.0rem !important;
  color: #FFF !important;
  font-weight: 600 !important;
  font-family: 'Story Script', cursive !important;
}

.main-subtitle {
  color: #FFF !important;
  font-weight: 400 !important;
  font-family: 'Story Script', cursive !important;
}

.main-paragraph {
  font-size: 1.4rem !important;
  color: #FFF !important;
  font-weight: 100 !important;
  text-align: left !important;
  font-family: 'Story Script', cursive !important;
}

.main-photo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

.main-contect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  position: relative;
  z-index: 2;
}
/* For screens smaller than 768px */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 10px;
    height: auto;
    min-height: 100vh;
  }

  .main::before {
    display: none;
  }

  .main-contect {
    flex-direction: column;
    padding: 20px;
    min-height: 80vh;
    justify-content: center;
  }

  .main-description,
  .main-photo {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-description {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;

  }

  .main-title {
    font-size: 2rem !important;
  }

  .main-subtitle {
    font-size: 1.5rem !important;
  }



}
